@charset "utf-8";
/* CSS Document */

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.scrolling-wrapper .card {
    display: inline-block;
    margin-right: 20px;
    border: solid thick #ff9d00;
    box-shadow: 5px 5px 10px;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
#aubr {
    word-break: break-all;
    -webkit-word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: nowrap;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.star{
	color:#FF0;
	font-size:24px;
}
.star:last-child {
	margin-right: 0;
}
.star:before {
	content:'\2605';
}
.star.on {
	color: gold;
}
.star.half:after {
	content:'\2605';
	color: gold;
	position: absolute;
	margin-left: -20px;
	width: 10px;
	overflow: hidden;
}
.rate {
    float:left;
}
.rate:not(:checked) > input {
    position:absolute;
    display:none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.status #status {
    width: 100%;
    left:0px;
    height: 100%;
    position:absolute;
    transition: 0.2s;
}