@charset "utf-8";
/* CSS Document */

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.scrolling-wrapper .card {
     display: inline-block;
     margin-right: 20px;
     border: solid thick #ff9d00;
     box-shadow: 5px 5px 10px;
 }
.scrolling-wrapper2 .card2 {
    border: solid thick #ff9d00;
    box-shadow: 5px 5px 10px;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
#aubr {
    word-break: break-all
    -webkit-word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: nowrap;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.star{
	color:#FF0;
	font-size:24px;
}
.star:last-child {
	margin-right: 0;
}
.star:before {
	content:'\2605';
}
.star.on {
	color: gold;
}
.star.half:after {
	content:'\2605';
	color: gold;
	position: absolute;
	margin-left: -20px;
	width: 10px;
	overflow: hidden;
}
.rate {
    float:left;
}
.rate:not(:checked) > input {
    position:absolute;
    display:none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.status .status1 {
    width: 100%;
    left:0px;
    height: 100%;
    position:absolute;
    transition: 0.3s;
    padding: 45% 0px;
    text-align: center;
}
.statusmobile .statusmobile1 {
    width: 100%;
    left:0px;
    height: 100%;
    position:absolute;
    transition: 0.3s;
    padding: 10% 0px;
    text-align: center;
}
.dark #dark {
    width: 100%;
    left:0px;
    height: 100%;
    position:absolute;
    background-color: rgba(255, 0, 0,0.5);
    padding: 45% 0px;
    text-align: center;
}
.dark2 #dark2 {
    width: 100%;
    left:0px;
    height: 100%;
    position:absolute;
    background-color: rgba(255, 0, 0,0.5);
    padding: 18% 0px;
    text-align: center;
}
.textover {
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}.textover2 {
    white-space: nowrap;
     min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:	#f4ac0a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99 !important;
}

.sidenav a{
    padding: 3px 3px 3px 20px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#burst-8 {

    background: #f2a71d;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    transform: rotate(20deg);
}
#burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background: #f2a71d;
    transform: rotate(135deg);
}
#loadingpage {
	display: none;
	transition: 0.2s;
    }
#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100px;
	background-image: url(../img/front/transparent-backgrounds-loading-3.gif);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s;
}
.captionanimatext {
	opacity: 0;
	animation-name: captionfade;
	animation-delay: 1s;
	animation-duration: 1s;

}
@keyframes captionfade {
	0% {
		position: absolute;
		right:42%;
		opacity: 0;
		top:0rem;
	}

	75% {
		position: absolute;
		right:42%;
		opacity: 1;
		top:-8rem;
	}

	100% {
		position: absolute;
		right:42%;
		opacity: 0;
		top:-8rem;
	}
}

@media only screen and (max-width: 767px){
	@keyframes captionfade {
		0% {
			position: absolute;
			left:32%;
			opacity: 0;
			top:0rem;
		}

		75% {
			position: absolute;
			left:32%;
			opacity: 1;
			top:-8rem;
		}

		100% {
			position: absolute;
			left:32%;
			opacity: 0;
			top:-8rem;
		}
	}
}
@media only screen and (max-width: 991px){
	@keyframes captionfade {
		0% {
			position: absolute;
			left:37%;
			opacity: 0;
			top:0rem;
		}

		75% {
			position: absolute;
			left:37%;
			opacity: 1;
			top:-8rem;
		}

		100% {
			position: absolute;
			left:37%;
			opacity: 0;
			top:-8rem;
		}
	}
}