@charset "utf-8";
/* CSS Document */

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.scrolling-wrapper .card {
    display: inline-block;

}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
#aubr {
    word-break: break-all;
    -webkit-word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}
/* nôi bật */
	@-webkit-keyframes my {
	 0% { color: #F63 } 
	 50% { color: #F66;  } 
	 100% { color: #C09;  } 
	}
	@-moz-keyframes my { 
	 0% { color: #F63;  } 
	 50% { color: #F66;  }
	 100% { color: #C09;  } 
	}
	@-o-keyframes my { 
	 0% { color: #F63; } 
	 50% { color: #F66; } 
	 100% { color: #C09;  } 
	}
	@keyframes my { 
	 0% { color: #F63;  } 
	 50% { color: #F66;  }
	 100% { color: #C09;  } 
	} 
.noibat {
 -webkit-animation: my 700ms infinite;
 -moz-animation: my 700ms infinite; 
 -o-animation: my 700ms infinite; 
 animation: my 700ms infinite;
}
/* nôi bật */
	@-webkit-keyframes my2 {
	 0% { color: #006; } 
	 50% { color: #0C9;  } 
	 100% { color: #F33;  } 
	}
	@-moz-keyframes my2 { 
	 0% { color: #006;  } 
	 50% { color: #F66;  }
	 100% { color: #F33;  } 
	}
	@-o-keyframes my2 { 
	 0% { color: #006; } 
	 50% { color: #0C9; } 
	 100% { color: #F33;  } 
	}
	@keyframes my2 { 
	 0% { color: #006;  } 
	 50% { color: #0C9;  }
	 100% { color: #F33;  } 
	} 
.noibat2 {
 -webkit-animation: my2 700ms infinite;
 -moz-animation: my2 700ms infinite; 
 -o-animation: my2 700ms infinite; 
 animation: my2 700ms infinite;
}
.star{
	color:#FF0;
	font-size:24px;
}
.star:last-child {
	margin-right: 0;
}
.star:before {
	content:'\2605';
}
.star.on {
	color: gold;
}
.star.half:after {
	content:'\2605';
	color: gold;
	position: absolute;
	margin-left: -20px;
	width: 10px;
	overflow: hidden;
}
.rate {
    float:left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    display:none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
