RewriteEngine on
RewriteRule "index.html" "index.php"
RewriteRule "^danh-sach-hoa-don.html$" "?mod=bill_list" 
RewriteRule "^danh-sach-san-pham.html$" "?mod=pro_list" 
RewriteRule "^danh-sach-the-loai.html$" "?mod=cat_list"  
RewriteRule "^danh-sach-chung-loai.html$" "?mod=de_list" 
RewriteRule "^danh-sach-tag.html$" "?mod=tag_list" 
RewriteRule "^danh-sach-khuyen-mai.html$" "?mod=discount_list" 
RewriteRule "^sao-luu-du-lieu.html$" "?mod=backupdb" 
RewriteRule "^home.html$" "../?mod=home" 
RewriteRule "^them-quan-tri-vien.html$" "?mod=add_ad"
RewriteRule "^them-tag.html$" "?mod=add_tag" 
RewriteRule "^thu-vien-anh.html$" "?mod=upload"  

RewriteRule "^quan-ly-tag-mon-an.html$" "?mod=add_food_tag"

RewriteRule "^danh-sach-bep-thanh-toan.html$" "?mod=kit_list"
RewriteRule "^danh-sach-admin.html$" "?mod=ad_list"
RewriteRule "^danh-sach-danh-gia.html$" "?mod=com_list"
RewriteRule "^danh-sach-ban.html$" "?mod=user_list"
RewriteRule "^danh-sach-slide.html$" "?mod=slide_list"
RewriteRule "^trang-chu.html$" "?mod=home"
RewriteRule "^thoat.html$" "?mod=logout"
RewriteRule "^process-cat.html$" "?mod=process_cat"
RewriteRule "^process-pro.html$" "?mod=process_pro"
RewriteRule "^process-bill.html$" "?mod=process_bill"
RewriteRule "^process-ad.html$" "?mod=process_ad"
RewriteRule "^process-com.html$" "?mod=process_com"
RewriteRule "^process-kit.html$" "?mod=process_kit"
RewriteRule "^process-slide.html$" "?mod=process_slide"
RewriteRule "^process-user.html$" "?mod=process_user"
RewriteRule "^process-tag.html$" "?mod=process_tag"
RewriteRule "^process-pro-h(.*).html$" "?mod=process_pro&activeh=$1"
RewriteRule "^process-pro-s(.*).html$" "?mod=process_pro&actives=$1"
RewriteRule "^process-cat-h(.*).html$" "?mod=process_cat&activeh=$1"
RewriteRule "^process-cat-s(.*).html$" "?mod=process_cat&actives=$1"
RewriteRule "^process-user-h(.*).html$" "?mod=process_user&activeh=$1"
RewriteRule "^process-user-s(.*).html$" "?mod=process_user&actives=$1"
RewriteRule "^process-kit-h(.*).html$" "?mod=process_kit&activeh=$1"
RewriteRule "^process-kit-s(.*).html$" "?mod=process_kit&actives=$1"

RewriteRule "^process-de.html$" "?mod=process_de"
RewriteRule "^process-de-h(.*).html$" "?mod=process_de&activeh=$1"
RewriteRule "^process-de-s(.*).html$" "?mod=process_de&actives=$1"

RewriteRule "^process-dis.html$" "?mod=process_dis"
RewriteRule "^process-dis-h(.*).html$" "?mod=process_dis&activeh=$1"
RewriteRule "^process-dis-s(.*).html$" "?mod=process_dis&actives=$1"



RewriteRule "^them-the-loai.html$" "?mod=add_cat"
RewriteRule "^them-khuyen-mai.html$" "?mod=add_discount"
RewriteRule "^them-chung-loai.html$" "?mod=add_de"

RewriteRule "^them-san-pham.html$" "?mod=add_pro"
RewriteRule "^them-ban.html$" "?mod=add_user"
RewriteRule "^them-bep-thanhtoan.html$" "?mod=add_kit"
RewriteRule "^them-slide.html$" "?mod=add_slide"

RewriteRule "^process_de-del-(.*).html$" "?mod=process_de&del=$1"
RewriteRule "^process_tag-del-(.*).html$" "?mod=process_tag&del=$1"
RewriteRule "^process_cat-del-(.*).html$" "?mod=process_cat&del=$1"
RewriteRule "^process_pro-del-(.*).html$" "?mod=process_pro&del=$1"
RewriteRule "^process_slide-del-(.*).html$" "?mod=process_slide&del=$1"
RewriteRule "^process_kit-del-(.*).html$" "?mod=process_kit&del=$1"
RewriteRule "^process_com-del-(.*).html$" "?mod=process_com&del=$1"

RewriteRule "^process_user-del-(.*).html$" "?mod=process_user&del=$1"
RewriteRule "^process_dis-del-(.*).html$" "?mod=process_dis&del=$1"


RewriteRule "^(.*)-(.*).html$" "?mod=$1&edit=$2"
#RewriteRule "^trang-chu-(.*).html$" "?mod=home&id_mon=$2"

#RewriteCond %{HTTP_HOST} ^orderfood.cf$
#RewriteRule ^(.*) http://www.orderfood.cf/$1 [QSA,L,R=301]]

